<ion-header *ngIf="dishes && existingDishTypes">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-grid class="logo-grid">
      <ion-row align-items-start>
        <ion-col align-self-center>
          <ion-title>{{menuType}}</ion-title>
        </ion-col>
        <ion-col class="logo-col">
          <img class="logo-img" src="../../assets/icon/logo.png">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
  <ion-toolbar class="toolbar statusbar-padding" no-border-top="" (load)="render()">
    <ion-segment [(ngModel)]="dishtype">
      <ion-segment-button value="{{type}}" *ngFor="let type of existingDishTypes" >
        {{type}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="dishes && existingDishTypes">
  <!--<div class="menu-type">{{menuType}}</div>-->
  <div [ngSwitch]="dishtype">
    <ion-list *ngSwitchCase="'בשר'">
      <dish-list [menu]="dishes['בשר']"></dish-list>
    </ion-list>
    <ion-list *ngSwitchCase="'תוספות'">
      <dish-list [menu]="dishes['תוספות']"></dish-list>
    </ion-list>
    <ion-list *ngSwitchCase="'סלטים'">
      <dish-list [menu]="dishes['סלטים']"></dish-list>
    </ion-list>
    <ion-list *ngSwitchCase="'צמחוני'">
      <dish-list [menu]="dishes['צמחוני']"></dish-list>
    </ion-list>
    <ion-list *ngSwitchCase="'פיתייה'">
      <dish-list [menu]="dishes['פיתייה']"></dish-list>
    </ion-list>
  </div>
</ion-content>
