page-home {
  .logo-img{
    max-width: 82px;
  }

  .logo-col{
   text-align: left;
    padding:0px;
  }
.logo-grid{
  padding:0px;
}

  .menu-type {
    text-align: center;
    font-weight: bold;
  }
  .segment-button{
    font-weight: bold;
  }
}
