<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
  <ion-toolbar class="toolbar statusbar-padding" no-border-top="" *ngIf="existingDishTypes">
    <ion-segment [(ngModel)]="dishtype">
      <ion-segment-button value="{{type}}" *ngFor="let type of existingDishTypes">
        {{type}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="dishtype" *ngIf="dishes && existingDishTypes">
    <ion-list *ngSwitchCase="'Meat'">
      <dish-list [menu]="dishes['Meat']"></dish-list>
    </ion-list>
    <ion-list *ngSwitchCase="'Addition'">
      <dish-list [menu]="dishes['Addition']"></dish-list>
    </ion-list>
    <ion-list *ngSwitchCase="'Salad'">
      <dish-list [menu]="dishes['Salad']"></dish-list>
    </ion-list>
    <ion-list *ngSwitchCase="'Vegitrain'">
      <dish-list [menu]="dishes['Vegitrain']"></dish-list>
    </ion-list>
    <ion-list *ngSwitchCase="'Pitiya'">
      <dish-list [menu]="dishes['Pitiya']"></dish-list>
    </ion-list>
  </div>
</ion-content>
