<ion-list *ngIf="menu" class="menu">
  <ion-item *ngFor="let dish of menu"
            class="dish-item"
            (swipeleft)="swipeleft($event, dish)"
            (swiperight)="swiperight($event, dish)"
            [ngClass]="{'itemSlidingAnimationRight': dish.liked && dish.swipedright,'itemSlidingAnimation': dish.liked == false && dish.swipedleft, 'liked': dish.liked, 'dislike': dish.liked == false}"
            (click)="presentPopover($event,dish)">
    <ion-thumbnail item-start>
      <img [src]="dish.picture">
    </ion-thumbnail>
    <ion-grid class="dish-details">
      <ion-row>
        <ion-col>
          <h2>{{dish.name}}</h2>
          <p>{{dish.description}}</p>
        </ion-col>
        <ion-col class="emoji" align-self-center>
          <img [src]="dish.emoji" *ngIf="dish.emoji">
          <div class="dish-rank">{{dish.rank}}%</div>
          <div class="dish-like-text">{{dish.likedCount}} of {{dish.total}} liked</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>
