<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
    <ion-title class="menu-type">{{menuType}}</ion-title>
  </ion-navbar>
  <ion-toolbar class="toolbar statusbar-padding" no-border-top="" *ngIf="existingDishTypes">
    <ion-segment [(ngModel)]="dishtype">
      <ion-segment-button value="{{type}}" *ngFor="let type of existingDishTypes">
        {{type}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="dishtype" *ngIf="dishes && existingDishTypes">
    <ion-list *ngSwitchCase="'בשר'">
      <dish-list [menu]="dishes['בשר']"></dish-list>
    </ion-list>
    <ion-list *ngSwitchCase="'תוספות'">
      <dish-list [menu]="dishes['תוספות']"></dish-list>
    </ion-list>
    <ion-list *ngSwitchCase="'סלטים'">
      <dish-list [menu]="dishes['סלטים']"></dish-list>
    </ion-list>
    <ion-list *ngSwitchCase="'צמחוני'">
      <dish-list [menu]="dishes['צמחוני']"></dish-list>
    </ion-list>
    <ion-list *ngSwitchCase="'פיתייה'">
      <dish-list [menu]="dishes['פיתייה']"></dish-list>
    </ion-list>
  </div>
</ion-content>
