// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@-webkit-keyframes slidingAnimation {
  0% {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }

  50% {
    transform: translate3d(-70px,0,0);
    -webkit-transform: translate3d(-70px,0,0);
  }

  100% {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }
}

keyframes slidingAnimation {
  0% {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }

  50% {
    transform: translate3d(-70px,0,0);
    -webkit-transform: translate3d(-70px,0,0);
  }

  100% {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }
}


@-webkit-keyframes slidingAnimationRight {
  0% {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }

  50% {
    transform: translate3d(70px,0,0);
    -webkit-transform: translate3d(70px,0,0);
  }

  100% {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }
}

keyframes slidingAnimationRight {
  0% {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }

  50% {
    transform: translate3d(70px,0,0);
    -webkit-transform: translate3d(70px,0,0);
  }

  100% {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }
}

.itemSlidingAnimation {
  -webkit-animation: slidingAnimation;
  animation: slidingAnimation;
  -webkit-animation-duration: 1000ms;
  animation-duraton: 1000ms;
}

.itemSlidingAnimationRight {
  -webkit-animation: slidingAnimationRight;
  animation: slidingAnimationRight;
  -webkit-animation-duration: 1000ms;
  animation-duraton: 1000ms;
}

.liked{
  border: 1px solid;
  border-color: #32db64 !important;
  border-radius: 10px;
  background-color: #dcffd2;
}

.dislike{
  border: 1px solid;
  border-color: #e13838 !important;
  border-radius: 10px;
  background-color: #ffd2d2;
}

.menu img{
  border-radius: 10px;
}

.dish-item{
  margin: 10px 0;
  border-bottom: 1px solid #dedede;
}

.list-md .item-block .item-inner {
  border-bottom: 0px !important;
}

.emoji{
  text-align: right;
}

.details-emoji{
  text-align: center;
}

.emoji img, .details-emoji img{
  width: 25px;
  height: 25px;
}

.dish-rank{
  font-size: 12px;
  font-weight: bold;
}

.dish-like-text{
  font-size: 11px;
}

.dish-details ion-col{
  max-width: 50%;
}

.dish-details p{
  overflow: hidden;
  white-space: initial;
}

.points-toast{
  text-align: center;
  direction: rtl;
}

,toolbar-title{
   text-align: right;
   direction: rtl;
 }

 .popover-content{
   padding: 10px;
 }

 .popover-content .title{
   text-align: center;
 }
